/* common share style */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
}

header {
    background-color: #E554731A;
}

.btn {
    display: inline-flex;
    padding: 18px 40px;
    /* align-items: flex-start; */
    border-radius: 6px;
    background-color: #E55473;
    color: #fff;
    border: 0;
    font-size: 16px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

/* banner section style */

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    padding-top: 60px;
}

.banner-text {
    padding-left: 30px;
}

.banner-title {
    color: #272727;
    font-size: 55px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16.5px;
    font-weight: 400;
    line-height: 25px;
    margin-top: -20px;
}

.banner-img {
    padding: 30px 40px 0px 0px;
    width: 500px;
    height: 600px;
}

/* Featured Flowers style */
.features-header {
    margin-top: 150px;
    line-height: 15px;
}

.features-images-section {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 60px;
}

.flower-1 {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
}

.flower-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.flower-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.flower-img {
    width: 230px;
    height: 310px;
    padding: 55px 51px 0px 51px;
}

.features-footer {
    display: flex;
    justify-content: center;
    gap: 300px;
    font-size: 17px;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

.features-footer h5 {
    font-weight: 600;
}

/* services section styles */
.services {
    padding: 70px 50px;
    margin: 100px 178px;
    background-color: #2727270D;
    border-radius: 10px;
}

.all-services {
    display: flex;
    justify-content: space-evenly;
}

.services-items {
    text-align: center;
}

.service-img {
    width: 68px;
    height: 68px;
}

/* Hot deal section styles */
.hot-deal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E554730D;
    padding: 80px;
}

.off {
    color: #E55473;
}

#hot-deal-btn {
    margin-left: 180px;
}

.hot-deal-img {
    width: 238px;
    height: 350px;
}

/* Instagram section style */
.instagram {
    margin: 130px;
}

.instagram-section-header {
    line-height: 15px;
}

.instagram-all-img {
    display: flex;
    gap: 15px;
    padding-top: 50px;
    justify-content: center;
}

.instagram-img {
    width: 275px;
    height: 315px;
}

/* Subscribe section styles */
.subscribe {
    background-image: url("../images/subscribe-img.png");
    border-radius: 7px;
    padding: 100px;
    margin: 100px 175px;
    background-repeat: no-repeat;
}

.subscribe-section-text {
    text-align: center;
    line-height: 15px;
    padding-bottom: 40px;
}

.subscribe-input {
    text-align: center;
}

.input-email {
    width: 500px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    margin-right: 10px;
    padding: 7px 0 7px 10px;
}
/* footer section style */
.footer{
    background-color: #111010;
}
.footer-text{
    text-align: center;
    line-height: 15px;
    padding: 130px;
}
.footer-title{
    color: #E55473;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}
.shop{
    color: #FFFFFF;
}
.footer-description{
    text-align: center;
    font-size: 14.5px;
    font-weight: 400;
    line-height: 25px;
    color: #FFFFFFE5;
}
.copyright{
    text-align: center;
    color: #FFFFFF66;
}